.footer {
    bottom: 0;
    position: absolute;
    margin-bottom: 1%;
}

.footer-content {
    margin-left: 4%;
}

.side-nav-logo {
    margin-top: 8%;
}

.side-nav-logo-name {
    margin-top: 12%;
}

.side-nav-list-group a {
    color: #B7BBC3;
}

.side-nav-list-group li {
    border-radius: 10px;
}

.side-nav-list-group li:hover {
    background-color: #B7BBC3;
}

.side-nav-list-group li:hover a {
    color: #42737F;
    font-weight: bold;
}

.side-nav-list-group li a .anchor-caption {
    padding: 0;
}

.side-nav-arrow-list .btn {
    color: #6d7279;
    box-shadow: none;
    border: none;
    background-color: transparent;
}